{%extends 'index.html'%}

{% block page-content %}

<div>
<script type="text/javascript" src="/statics/tinymce/js/tinymce/tinymce.min.js"></script>

<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});
</script>

<!-- {% for category in bbs_category %}
  {% ifequal category.id category_id %}
    <li class="active"><a href="/category/{{category.id}}">{{category.name}}
    </a></li>
  {%else%}
    <li class=""><a href="/category/{{category.id}}">{{category.name}}
    </a></li>
  {%endifequal%}
{% endfor %} -->

<!-- Fix Me -->
<form method="post" action="/bbs_sub/">
<ul>
    <select name="category_select">
        {% for category in bbs_category %}
          <!-- <option value={{category.name}}>{{category.name}}</option> -->
          <option value={{forloop.counter0}}>{{category.name}}</option>
        {% endfor %}
    </select>

    <hr>

    标题：<input type="text" name="title" /> </br>

    <hr>

    大意:
    </br>
    </br>
    <input type="text" style="width:100%" name="summary" /> </br>

    <hr>


    <textarea name="content" style="width:100%"></textarea>

    <input type='submit' value='Save'/>
</form>
</div>

</ul>
{%endblock%}