{% extends 'index.html' %}	
{% load comments %}
<!-- extends and body cannot co-exist -->
{% block page-content %}

<div class = "contents">
	<h3>{{bbs_obj.title}} </h3>
	<hr>
	<h5>{{bbs_obj.summary}} </h5>
	<hr>

	{{bbs_obj.content|safe}}
</div>

<hr>
<div class='comments'>

	{% if user.is_authenticated %}
		<div>
			{% get_comment_count for bbs_obj as comment_count %}
			字数 {{comment_count}}
		</div>
		</br>

	    <form action="/sub_comment/" method="POST">
	    	<!-- {% csrf_token %} -->
	 		<textarea cols=80 rows=3 name='comment_content'></textarea>
	    	<input type="hidden" name="bbs_id" value="{{bbs_obj.id}}" />
	    	</br>
	    	</br>
	    	<input type="submit" value="Add comment" id="id_submit" />
	    </form>
	{%else%}
		<p>Please <a href='/login/'>Login</a></p>
	{%endif%}

	<!-- render_comment_list default order is reversed -->
	{% get_comment_list for bbs_obj as comment_list %}
	{% for comment in comment_list reversed %}
		{{comment.submit_data}}
		<br>
		{{comment.comment}}
		<hr>
	{% endfor %}

</div>
{% endblock %}
